<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Server Side Rendering</h1>
		<% if (locals.id) { %>
		<p>
			your Generated url : <a href="http://localhost:3000/<%=id %>"><%=id %></a>
		</p>
		<% } %>
		<form action="/url" method="post">
			<label for="url">Enter a URL:</label>
			<input type="text" id="url" name="url" required />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
